.container-sm {
    max-width: 640px;
}

.container-md {
    max-width: 768px;
}

.container-lg {
    max-width: 1024px;
}

.container-xl {
    max-width: 1280px;
}

.container-2xl {
    max-width: 1536px;
}

.full-page {
    min-height: 600px;
    height: calc(100vh);
}

// =============== COLORS ===============
$dark-color: #0F0F0F;
$second-dark-color: #1A1A1A;

$light-color: #fafafa;
$grey-color: #9A9A9A;
$fade-light-color: #dcdcdcd9;

$primary-color: #0786AB;
$secondary-color: #b84c49;
$third-color: #6F4BA1;

$fade-primary-color: #0785abbf;
$fade-secondary-color: #b84c49bf;
$fade-third-color: #6e4ba0d9;
